<div class="container">

    <table>
        <th>List of students in class</th>
        {{#each data}}
            <tr>
                <th>{{data.name}}</th> <th>{{data.grade}}</th> <th>{{data.age}}</th>
            </tr>
        {{/each}}
    </table>

    <form action="/signUser" method="post">
        <h2>Sign Up Student</h2>
        <br>
        <label for="name">Name :</label> <input type="text" name="name" id="name"> <br> <br>

        <label for="garde">Grade :</label> <input type="number" name="grade" id="grade"> <br> <br>

        <label for="age">Age : </label> <input type="number" name="age" id="age"> <br> <br>

        <button type="submit">submit</button>
    </form>
</div>